body {
  font-family: Arial, sans-serif;
  background-color: #f0f9cc;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffa500;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
  text-align: center;
}

img {
  width: 300px;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  background-color: darkorange;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: orangered;
}

footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
